In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2020년_버스노선별_정류장별_시간대별_승하차_인원_정보.csv", encoding='cp949')
df.head()

C:\Users\82103\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202001,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,1,0,0,0,...,34,82,16,44,37,49,27,20,15,20200203
1,202001,100,100번(하계동~용산구청),100000003,01003,명륜3가.성대입구,0,0,0,0,...,156,179,102,178,96,168,62,47,18,20200203
2,202001,100,100번(하계동~용산구청),100000005,01005,혜화동로터리.여운형활동터,0,2,0,0,...,318,24,143,38,103,47,76,6,28,20200203
3,202001,100,100번(하계동~용산구청),100000102,01198,원남동,0,0,0,0,...,98,167,85,109,87,97,35,26,13,20200203
4,202001,100,100번(하계동~용산구청),100000108,01204,종로5가.효제동.김상옥의거터,19,34,1,0,...,56,68,24,75,39,59,31,23,28,20200203

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468819 entries, 0 to 468818
Data columns (total 55 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사용년월        468819 non-null  int64
 1   노선번호        468819 non-null  object
 2   노선명         468819 non-null  object
 3   표준버스정류장ID   468819 non-null  object
 4   버스정류장ARS번호  468819 non-null  object
 5   역명          468819 non-null  object
 6   00시승차총승객수   468819 non-null  int64
 7   00시하차총승객수   468819 non-null  int64
 8   1시승차총승객수    468819 non-null  int64
 9   1시하차총승객수    468819 non-null  int64
 10  2시승차총승객수    468819 non-null  int64
 11  2시하차총승객수    468819 non-null  int64
 12  3시승차총승객수    468819 non-null  int64
 13  3시하차총승객수    468819 non-null  int64
 14  4시승차총승객수    468819 non-null  int64
 15  4시하차총승객수    468819 non-null  int64
 16  5시승차총승객수    468819 non-null  int64
 17  5시하차총승객수    468819 non-null  int64
 18  6시승차총승객수    468819 non-null  int64
 19  6시하차총승객수    468819 non-null  int64
 20  7시승차총승객수    468819 non-null  int64
 21  7시하차총승객수    468819 non-null  int64
 22  8시승차총승객수    468819 non-null  int64
 23  8시하차총승객수    468819 non-null  int64
 24  9시승차총승객수    468819 non-null  int64
 25  9시하차총승객수    468819 non-null  int64
 26  10시승차총승객수   468819 non-null  int64
 27  10시하차총승객수   468819 non-null  int64
 28  11시승차총승객수   468819 non-null  int64
 29  11시하차총승객수   468819 non-null  int64
 30  12시승차총승객수   468819 non-null  int64
 31  12시하차총승객수   468819 non-null  int64
 32  13시승차총승객수   468819 non-null  int64
 33  13시하차총승객수   468819 non-null  int64
 34  14시승차총승객수   468819 non-null  int64
 35  14시하차총승객수   468819 non-null  int64
 36  15시승차총승객수   468819 non-null  int64
 37  15시하차총승객수   468819 non-null  int64
 38  16시승차총승객수   468819 non-null  int64
 39  16시하차총승객수   468819 non-null  int64
 40  17시승차총승객수   468819 non-null  int64
 41  17시하차총승객수   468819 non-null  int64
 42  18시승차총승객수   468819 non-null  int64
 43  18시하차총승객수   468819 non-null  int64
 44  19시승차총승객수   468819 non-null  int64
 45  19시하차총승객수   468819 non-null  int64
 46  20시승차총승객수   468819 non-null  int64
 47  20시하차총승객수   468819 non-null  int64
 48  21시승차총승객수   468819 non-null  int64
 49  21시하차총승객수   468819 non-null  int64
 50  22시승차총승객수   468819 non-null  int64
 51  22시하차총승객수   468819 non-null  int64
 52  23시승차총승객수   468819 non-null  int64
 53  23시하차총승객수   468819 non-null  int64
 54  등록일자        468819 non-null  int64
dtypes: int64(50), object(5)
memory usage: 196.7+ MB

In [4]:
df = df[["사용년월", "노선번호", "노선명", "표준버스정류장ID", '역명', '7시하차총승객수', '8시하차총승객수', '9시하차총승객수', 
           '10시하차총승객수', '17시승차총승객수', '18시승차총승객수', '19시승차총승객수', '20시승차총승객수']]
df

,사용년월,노선번호,노선명,표준버스정류장ID,역명,7시하차총승객수,8시하차총승객수,9시하차총승객수,10시하차총승객수,17시승차총승객수,18시승차총승객수,19시승차총승객수,20시승차총승객수
0,202001,100,100번(하계동~용산구청),100000002,창경궁.서울대학교병원,381,755,431,319,188,189,75,82
1,202001,100,100번(하계동~용산구청),100000003,명륜3가.성대입구,402,599,459,387,264,188,167,179
2,202001,100,100번(하계동~용산구청),100000005,혜화동로터리.여운형활동터,258,312,326,346,90,52,41,24
3,202001,100,100번(하계동~용산구청),100000102,원남동,402,1065,635,426,239,655,203,167
4,202001,100,100번(하계동~용산구청),100000108,종로5가.효제동.김상옥의거터,19,67,24,24,75,217,108,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
468814,202012,9714,9714번(교하운정~서울역),229000856,우리은행앞,105,120,38,21,1,0,3,2
468815,202012,9714,9714번(교하운정~서울역),229000857,중앙공원,23,21,6,9,0,0,0,0
468816,202012,9714,9714번(교하운정~서울역),229000858,책향기마을,23,71,7,23,1,1,0,0
468817,202012,9714,9714번(교하운정~서울역),229001662,교하차고지,0,1,1,0,3,11,8,2
468818,202012,9714,9714번(교하운정~서울역),229001663,교하차고지,3,6,3,5,0,0,0,0

In [5]:
df =  pd.pivot_table(df, index=['사용년월','노선번호','노선명','표준버스정류장ID','역명'], aggfunc = 'sum')
df

                                                       10시하차총승객수  17시승차총승객수  \
사용년월   노선번호 노선명               표준버스정류장ID 역명
202001 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스        926        589
                              102000003 신용산역                 687        222
                              102000029 한강대교북단               138        365
                              102000153 용문시장                 125        390
                              102000154 용문시장                 141        108
...                                                          ...        ...
202012 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고                281        134
                              106900026 진주빌라.바다약국             21          0
                              106900028 서일대정문                  1          1
                              106900029 서일대정문                109        424
                              106900030 진주빌라.바다약국            169          4

                                                       18시승차총승객수  19시승차총승객수  \
사용년월   노선번호 노선명               표준버스정류장ID 역명
202001 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스        920        450
                              102000003 신용산역                 340        267
                              102000029 한강대교북단               513        478
                              102000153 용문시장                 378        311
                              102000154 용문시장                 164        189
...                                                          ...        ...
202012 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고                101         91
                              106900026 진주빌라.바다약국              1          1
                              106900028 서일대정문                  0          1
                              106900029 서일대정문                435        309
                              106900030 진주빌라.바다약국              5          1

                                                       20시승차총승객수  7시하차총승객수  \
사용년월   노선번호 노선명               표준버스정류장ID 역명
202001 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스        259      1515
                              102000003 신용산역                 195       802
                              102000029 한강대교북단               386       267
                              102000153 용문시장                 233        65
                              102000154 용문시장                 191       109
...                                                          ...       ...
202012 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고                 48       186
                              106900026 진주빌라.바다약국              0        16
                              106900028 서일대정문                  0         0
                              106900029 서일대정문                180       168
                              106900030 진주빌라.바다약국              5       108

                                                       8시하차총승객수  9시하차총승객수
사용년월   노선번호 노선명               표준버스정류장ID 역명
202001 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스      1482      1217
                              102000003 신용산역               1040       885
                              102000029 한강대교북단              671       328
                              102000153 용문시장                116       156
                              102000154 용문시장                169       253
...                                                         ...       ...
202012 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고               522       347
                              106900026 진주빌라.바다약국            21        18
                              106900028 서일대정문                 1         9
                              106900029 서일대정문               213       156
                              106900030 진주빌라.바다약국           219       136

[460239 rows x 8 columns]

In [6]:
df.reset_index(inplace=True)

In [7]:
df

,사용년월,노선번호,노선명,표준버스정류장ID,역명,10시하차총승객수,17시승차총승객수,18시승차총승객수,19시승차총승객수,20시승차총승객수,7시하차총승객수,8시하차총승객수,9시하차총승객수
0,202001,0017,0017번(청암동~이촌동),102000001,한강대교북단.LG유플러스,926,589,920,450,259,1515,1482,1217
1,202001,0017,0017번(청암동~이촌동),102000003,신용산역,687,222,340,267,195,802,1040,885
2,202001,0017,0017번(청암동~이촌동),102000029,한강대교북단,138,365,513,478,386,267,671,328
3,202001,0017,0017번(청암동~이촌동),102000153,용문시장,125,390,378,311,233,65,116,156
4,202001,0017,0017번(청암동~이촌동),102000154,용문시장,141,108,164,189,191,109,169,253
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460234,202012,중랑02,중랑02(진로아파트~한신아파트),106900025,새마을금고,281,134,101,91,48,186,522,347
460235,202012,중랑02,중랑02(진로아파트~한신아파트),106900026,진주빌라.바다약국,21,0,1,1,0,16,21,18
460236,202012,중랑02,중랑02(진로아파트~한신아파트),106900028,서일대정문,1,1,0,1,0,0,1,9
460237,202012,중랑02,중랑02(진로아파트~한신아파트),106900029,서일대정문,109,424,435,309,180,168,213,156
460238,202012,중랑02,중랑02(진로아파트~한신아파트),106900030,진주빌라.바다약국,169,4,5,1,5,108,219,136

정리하긴했는데 앞에 데이터들이 날아간것 같은 느낌이 드네요..